// .select__container {
//     width: 240px;
//     height: 30px;
//     border: 1px;
//     border-radius: 4px;
//     outline: none;
//     list-style-type:none;
//     background-color:whitesmoke;
//     padding-left: 10px;
//     margin-bottom: 20px;
// }
// .option__choice{
//     border-radius: 1px;
//     font-size: 1rem;;
// }






  .select__gender {
    width: 252px;
       height: 30px;
        border: 1px;
       border-radius: 4px;
        outline: none;
       list-style-type:none;
       background-color:whitesmoke;
         padding-left: 10px;
         margin-bottom: 20px;
  }
  
  .select__gender:focus {
    outline: none;
    box-shadow: 0 0 3px 2px #bbb; 
  }
  .option__male{
    width: 240px;
    height: 30px;
  }
  .error {
    margin-bottom: 10px;
    color: rgb(206, 0, 0); /* Задает красный цвет текста */
    font-weight: bold; /* Выделяет текст полужирным */
  }